body{
    background-color: #eba8ad; 
    position: static;
    
  }
 
   img{
     flex:auto;
     border-radius: 100%;
     margin-left: auto;
     margin-right: auto;
     width: 70%;
     height: 350px;
  }
 
  .titulo{
    text-align: center; 
    font-family: rafaella;
  }
 
  .design{
     color: #5c2c30;
     font-size: 120%;
  }
 
  .dados{
     text-align: center;
     font-size: 130%;
  }
 
 .corpo{
     width: 960px;
 }
 
 
 .folhaA4{
     display: -webkit-flex;
     display: flex;
 }
 
 .corpo {
   display: flex;
   height: 100vh;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   }
 
 .lateral_esq {
   display: flex;
   flex-direction:column;
   flex: 30%;
   background-color: #e65965;
   padding: 20px;
   color: rgb(18, 6, 6); 
   row-gap: 20px
   }
 
 .lateral_dir {
   display: flex;
   flex-direction:column;
   flex: 70%;
   background-color: #f5838c;
   padding: 20px;
   color: rgb(16, 2, 2);  
   row-gap: 30px
 
 }
 
 
 .escolaridade{
    text-align: middle;
    font-family:rafaella; 
 }
 
 .escola{
     color:#673136;
     font-size:120%;
     text-align: left;
 }
 
 .cursos{
   text-align: left; 
    font-family: rafaella;
 }
 
 .estudo{
     color: #ac525a;
    font-size: 120%;
    text-align: left;
 }
 
 .hab{
     text-align:center;
     font-family:rafaella;
 }
 
 .preenchimento{
     color:#b5101d;
     font-size:120%;
     text-align: left;
 }
 
 .obj{
     text-align:left;
     font-family:rafaella;
 }
 
 .expc{
     color:#847474;
     font-size:120%;
 }
 
 .subtitulo{
    text-align: left;
     font-size: 130%; 
    margin: 2%;
 }
 
 
 @media screen and (max-width:700px) {
       .row {
         flex-direction: column;
         flex-wrap: wrap;
       }
 }
 *{
   margin: 0;
 }
 
 
 #rcorners1 {
   border-radius: 15px 50px 30px 5px;
   padding: 20px;
   width: 100%;
   height: 100%;
 }

 